.bg-custom{
    background: rgb(245,159,196);
background: radial-gradient(circle, rgba(245,159,196,1) 66%, rgba(218,148,233,1) 97%);
}
.navbar-brand,
.nav-link,
.nav-item{
    color: aliceblue;
}
button
{
    color: #d46beb;
}